html, body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

#container div {
    display: flex;
    flex: auto;
    border: 1px solid black;
}

/*.squares {
    flex-direction: column;
}*/